.head{
  text-align: center;
  margin-top: 150px;
}
.app{
  color: rgb(255, 17, 0);
  font-size: 3rem;
}
.signin{
  border: 2px solid white;
  padding: 20px;          
  max-width: 400px;       
  margin: 0 auto;
  background-color: aliceblue;
  box-sizing: border-box;
  width: 100%;
}
.welcome{
  text-align: center;
}
.back{
  color: rgb(90, 90, 109);
}
.input{
  padding: 10px;
  width: 90%;
}
.btn{
  font-size: medium;
  padding: 10px;
  width: 90%;
  background-color: rgb(150, 150, 219);
  border: none;
}
.signup{
  border: 2px solid white;  
  padding: 30px;          
  max-width: 600px;  
  margin-top: 200px;     
  margin: 0 auto;
  background-color: aliceblue;
  box-sizing: border-box;
  width: 100%;
}
.account{
  color: blue;
  font-size: 3rem;
}
.error{
  color: red;
}
.detail{
  text-align: center;
}
.wel{
  color: rgb(202, 18, 18);
}
.user{
  text-align: left;
  border: 2px solid white; 
  padding: 20px;           
  max-width:600px;
  height: 400px;        
  margin: 20px auto;
  background-color: rgb(82, 130, 172);
  box-sizing: border-box;
  width: 100%;
}
.users{
  padding: 10px;
  background-color:white;
  width: 90%;
}
.active {
  color: green;
}